* {
    margin: 0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: inherit;
}


/*li{
    list-style: none;
}*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    text-decoration: none;
    color: #0f1a2c;
    text-align: center;    
}

h1 {
    text-align: center;
    font-size: 25pt;
    margin-bottom: 80px;
    position: relative;
    padding-bottom: 10px;
}

h1:before{
    content: "";
    position: absolute;
    width: 50%;
    bottom: 0;
    left: 25%;    
    right: 25%;
    border-bottom: #68d2df solid 5px;
}


p, h2, h3, h4, h5, h6 {
    text-align: center;
}

a, label, input, textarea, select {
    font-size: 14pt;
}

p {
    font-size: 17pt;
    color: rgb(75, 75, 75);
}



/* --- MENU ---*/
.menu{
    background-color: #0f1a2c;
    color: white;
   /* position: fixed;
    z-index: 1;
    overflow:hidden;
    width: 100%;*/
    padding: 20px;
}

.menu-contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-navbar{
    display: inline;
}

.menu-collapse {
    float: right;
}

.menu-collapse a{
    margin: 20px;
    text-decoration: none;
    color: white;
    position: relative;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.menu-collapse a:focus, .menu a:hover {
  color: #68d2df;
}

.menu-collapse a:focus:after, .menu a:hover:after {
  width: 100%;
  left: 0%;
}

.menu-collapse a:after {
  content: "";
  pointer-events: none;
  bottom: -5px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: #68d2df;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.activa::before{
    content: "";
    position: absolute;
    width: 10%;
    bottom: 0;
    left: 45%;  
    bottom: -5px;  
    border-bottom: #68d2df solid 3px;
}


/* --- ENCABEZADO ---*/
.encabezado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 20px 80px 20px;
    background-color: #0f1a2c;
    color: white;
}

.encabezado p {
    text-align: center;
    width: 50%;
    margin-top: 60px;
    font-size: 20pt;      
    animation: bajar 1s ease-out;
    animation-fill-mode: forwards; 
    color: white;
}

@keyframes bajar {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.encabezado h1 {
    margin: 10px;
}





/* --- CUERPO ---*/
.cuerpo{
    background-color: white;
    color: #0f1a2c;
}

.cuerpo-faqs, .cuerpo-valores, .cuerpo-redes{
    background: rgb(92,190,208);
    background: linear-gradient(125deg, rgba(92,190,208,1) 0%, rgba(224,253,255,1) 52%);
    color: #0f1a2c;
}

.cuerpo-servicios, .cuerpo-faqs, .cuerpo-valores, .cuerpo-equipo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 40px 80px 40px;
}


/* --------------------- PAGINA INICIO ---------------------*/


/* --- CUERPO SERVICIOS ---*/

.contenedor-servicios {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    margin-top: 50px;
}

.servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 40px;
    margin: 20px 0 20px 0;
    width: 30%;
    background: #F1F1F1;
    border-radius: 20px;
}

.servicios img {
    width: 200px;
    height: auto;
    margin-top: -120px;
    border-radius: 50%;
    border: white solid 10px;
}

.servicios h2 {
    margin: 20px 0 20px 0;
}

.servicios p {
    text-align: center;
    margin-bottom: 40px;
}

.more {
    border: none;
    background: none;
    padding-right: 0;
}

.more span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 12px;
}

.more svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

.more:hover svg {
    transform: translateX(0);
}       


.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 120%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.more:hover {
    font-weight: bold;
}

.more:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}



/* --- CUERPO CONTACTANOS ---*/




/* --- CUERPO NOSOTROS ---*/








/* --------------------- PAGINA NOSOTROS ---------------------*/

/* --- CUERPO MV ---*/

.cuerpo-mv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 80px 40px 80px 40px;
    width: 100%;
}

.contenedor-mision, .contenedor-vision {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 50%;
    padding: 0 40px 0 40px;
}

.contenedor-vision {
    border-left: 1px solid #0f1a2c;
}

.cuerpo-mv p {
    width: 90%;
    font-size: 17pt;
    font-style: italic;
}




/* --- CUERPO VALOR ---*/

.contenedor-valores {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    gap: 40px;
}

.valor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
    gap: 20px;
}

.valor:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.valor:not(hover) {
    transition: all 0.3s ease;
}

.valor i {
    border: 1px solid #3a4865;
    border-radius: 50%;
    padding: 20px;
    color: white;
    font-size: 40pt;
    background-color: #3a4865;
}




/* --- CUERPO EQUIPO ---*/

.cuerpo-equipo {
    padding: 80px 0 80px 0;
}

.contenedor-miembro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 60px;
    background-color: #F1F1F1;
}

.todo-miembro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    padding: 40px;
    margin: 20px 0 20px 0;
}	

.miembro {
    display: none;
    width: 60%;
}

.miembro img {
    width: 200px;
    height: auto;
    margin-top: -130px;
    border-radius: 50%;
    border: white solid 10px;
}

.miembro h3 {
    color: #606877;
    margin-bottom: 20px;
    text-align: center;
}

.miembro h2 {
    margin: 20px 0 5px 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 30px 2px 0 2px;
    background-color: #c6c6c6;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #606877;
}
  
.prev, .next {
    cursor: pointer;
    padding: 20px;
    color: #3a4865;
    font-weight: bold;
    font-size: 40pt;
    border-radius: 50%;
    transition: 0.6s ease;    
}

.prev:hover, .next:hover {
    transform: scale(1.2);
}

.fade {
    animation-name: fade;
    animation-duration: 1.3s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}





/* --- CUERPO FORMULARIO ---*/

.cuerpo-formulario {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 80px 40px 80px 40px;
}

.contenedor-formulario-letras {
    display: flex;
    flex-direction: column;    
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 40%;
}

.contenedor-redes-letras h1{
    text-align: left; 
    width: fit-content;
}

.contenedor-formulario-letras p{   
    text-align: left; 
    font-size: 20pt;
    color: rgb(75, 75, 75);
}

.contenedor-formulario{
    width: 40%;
}

form{
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
    width: 100%;
    border-radius: 20px;
}

form input[type="text"], form input[type="tel"],form input[type="email"], form textarea, select{
    width: 100%;
    padding: 10px;
    border: solid 1px #606877;
    border-radius: 10px;
}

form input[type="submit"]{
    background-color: #0f1a2c;
    color: white;
    border: none;
    padding: 10px;
    width: 30%;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
}

form input[type="submit"]:hover{
    background-color: #606877;
    transition: ease-in 0.2s;
}

form input[type="submit"]:not(:hover){
    background-color: #0f1a2c;
    transition: ease-in 0.2s;
}


.inputGroup{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 100%;
    gap: 10px;
}	

.inputGroupCheckbox{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

}

.inputGroupCheckbox input[type="checkbox"]{
    width: 15px;
    height: 15px;
}



/* --------------------- PAGINA CONTACTO ---------------------*/

/* --- CUERPO REDES ---*/

.cuerpo-redes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 90px 40px 90px 40px;
}

.cuerpo-redes .contenedor-redes {
    display: flex;
    flex-direction: row;  
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    width: 40%;
}
.contenedor-redes-letras{
    display: flex;
    flex-direction: column;    
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-end;
    width: 40%;
}

.contenedor-redes-letras p{   
    text-align: right; 
    font-size: 20pt;
    color: rgb(75, 75, 75);
}

.contenedor-redes-letras h1{
    text-align: right; 
    width: fit-content;
}

.cuerpo-redes .redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cuerpo-redes .redes i {
    font-size: 50pt;
}

.cuerpo-redes .redes p {
    text-align: center;
}

.cuerpo-redes .redes a:hover {
    transform: scale(1.1);
    transition: ease-in 0.3s;
}

.cuerpo-redes .redes a:not(hover) {
    transition: ease-in 0.3s;
}




/* --- CUERPO HORARIOS ---*/

.cuerpo-horario, .cuerpo-contacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding: 90px 40px 90px 40px;
}

.contenedor-horario-letras, .contenedor-contacto-letras{
    display: flex;
    flex-direction: column;    
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-end;
    width: 40%;    
}

.contenedor-horario-letras p, .contenedor-contacto-letras p{   
    text-align: left; 
    font-size: 20pt;
    color: rgb(75, 75, 75);
}

.contenedor-horario-letras h1, .contenedor-contacto-letras h1{
    text-align: left; 
    width: fit-content;
}

.horario{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contenedor-dias, .contenedor-horas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}


.horario p:nth-child(1), .horario p:nth-child(2){
    width: 250px;
    padding-bottom: 20px;
    border-bottom: solid 1px #606877;
}






/* --- NOT FOUND ---*/

.contenedor-notfound{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 90px 20px 90px 20px;
}

.contenedor-notfound h1{
    margin: 80px 0px 10px 0px;
    border: 0;
    color: #4D5E80;
}

.contenedor-notfound a{
    color: #68d2df;
}








/* --- FOOTER ---*/
.foot{
    background-color: #0f1a2c;
    color: white;
    padding: 20px;
}

.foot i{
    color: #68d2df;
    font-size: 15pt;
}

.foot p, .foot a{
    font-size: 13pt;
    text-align: justify;
    color: white;
    display: block;
}

.foot-secciones a:hover, .foot-contacto p:hover{
    color: #c6c6c6;
} 

.foot h4 {
    margin-bottom: 20px;
    border-bottom: #68d2df solid 1px;
    display: inline;
}

.foot-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 60px;
    margin: 20px 0 40px 0;
}

.foot-contacto .contenedor-contacto {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.foot-contacto .contacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.foot-contacto a{
    display: flex;
    gap: 5px;
}

.foot-horario p{
    margin-bottom: 12px;
}

.copy p:nth-child(1){
    padding-top: 17px;
    border-top: #c6c6c6 solid 0.5px;    
}

.copy p {
    text-align: center;
    margin-bottom: 5px;
}




/* --- EFECTOS ---*/

.fadeTop {
    opacity: 0; 
    transform: translate(0vh, 15vh);
    transition: all 1s;
}

.fadeBottom {
    opacity: 0; 
    transform: translate(0vh, -15vh);
    transition: all 1s;
}

.fadeRight {
    opacity: 0;
    transform: translate(15vh, 0vh);
    transition: all 1s;
}

.fadeLeft {
    opacity: 0;
    transform: translate(-15vh, 0vh);
    transition: all 1s;
}

.visible {
    opacity: 1;
    transform: translate(0, 0);
}







/* --- RESPONSIVE --- */

@media screen and (max-width:800px) {
    /*display:none para quitar un elemento*/

}

@media screen and (max-width:400px) {
    /*display:none para quitar un elemento*/
    
}