* {
    margin: 0;
}

hr{
    border-color: red;    
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #0f1a2c;    
}

.menu a{
    text-decoration: none;
    color: white;
}

/* --- MENU ---*/
.menu{
    background-color: #0f1a2c;
    color: white;
    position: fixed;
    z-index: 100;
    width: 100%;
}
.menu-navbar{
    display: inline;
}
.menu-collapse {
    float: right;
}
.menu-collapse a{
    margin: 20px;
}



/* --- ENCABEZADO ---*/
.encabezado{
    background-color: #0f1a2c;
    color: white;
}



/* --- CUERPO ---*/
.cuerpo{
    background-color: white;
    color: #0f1a2c;
}

.cuerpo-faqs{
    background-color: #68d2df;
    color: #0f1a2c;
}


/* --- FOOTER ---*/
.foot{
    background-color: #0f1a2c;
    color: white;
}

.foot i{
    color: #68d2df;
}